<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fireyes·Plan</title>
	<link rel="stylesheet" type="text/css" href="/static/zui/css/zui.min.css">
	<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
	<!-- <link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.theme.min.css" rel="stylesheet"> -->
<!-- 	<link rel="stylesheet" type="text/css" href="/static/css/ui.jqgrid-bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/ui.jqgrid.css">
</head>
<body>
	<div class="container">
		<div class="col-xs-4">
			<button class="btn btn-block"><i class="icon icon-plus"></i></button>
			<ul class="list-group">
				<% controller.plans.forEach(function(plan){%>
				<a href="javascript:showPlan('<%=plan%>')" class="list-group-item"> <%=plan%> </a>
				<%})%>
			</ul>
		</div>
		<div class="col-xs-8">
			<div class="btn-group pull-right">
				<button class="btn btn-success"><i class="icon icon-list"></i></button>
				<button class="btn btn-success"><i class="icon icon-remove"></i></button>
				<button class="btn btn-success"><i class="icon icon-play"></i></button>
			</div>
			<table id="cs" style="width:100%"></table>
		</div>
	</div>
</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/js/i18n/grid.locale-cn.js"></script>
<script src="/static/js/jquery.jqGrid.min.js"></script>
<script src="/static/zui/js/zui.min.js"></script>
<script src="/static/js/plan.js"></script>
</html>